#toc {
    display: block;
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-bottom: 2px dashed #ccc;
}

#toc ul {
    margin: 0 0 0 1.2em;
    padding: 0.1em;
}

#toc > ul:first-of-type > li:first-child > a {
    font-size: larger;
}

@media only screen and (min-width: 920px) {
    #toc {
        float: left;
        margin-right: 40px;
        width: 220px;
        border-bottom: none;
        font-size: 14px;
    }

    main {
        float: left;
        width: calc(100% - 280px);
        max-width: 75em;
    }

    h1 {
        margin-top: 0;
    }
}
