[Desktop Entry]
Name=Showdown
GenericName=Markdown Viewer
Comment=View Markdown files
Exec=showdown %U
Terminal=false
Type=Application
StartupNotify=true
Icon=showdown
MimeType=text/markdown;text/x-markdown;
